HOMEPAGE_VAR_WEATHER_URL='troque_aqui'
HOMEPAGE_VAR_PIHOLE_KEY='troque_aqui'
HOMEPAGE_VAR_TAILSCALE_KEY='troque_aqui'
HOMEPAGE_VAR_CALENDAR_URL='troque_aqui'
HOMEPAGE_VAR_LATITUDE='troque_aqui'
HOMEPAGE_VAR_LONGITUDE='troque_aqui'
